$color-one: #50b2c0;
$color-two: #feefdd;
$color-three: #faaa8d;
$color-four: #ff4000;
$color-five: #201e1f;

$color-white: #fff;
$color-black: #000;

$color-gray-dark: #808080;
$color-gray-normal: #A9A9A9;
$color-gray-light: #D3D3D3;