$color-primary: #419a1c;
$color-secondary: #005a6c;
$color-tertiary: #282c34;

$color-white: #fff;
$color-black: #000;

$color-gray-dark: #808080;
$color-gray-normal: #A9A9A9;
$color-gray-light: #D3D3D3;