@import '../../../sass/variables.scss';

.featuredproject {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../../../img/lctc-hero2.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	min-height: 600px;
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;

	&__content {
		color: $color-white;
		display: flex;
		align-items: center;
		justify-content: space-between;

        max-width: 1200px;

		&-title {
		}
	}

	&__card {
	}
}
