@import '../../../sass/variables';

.icon {
    font-size: 7rem;
}

.features {
    display: flex;
    margin: 0 auto;
    height: 500px;
    max-width: 1000px;
    justify-content: space-evenly;
    align-items: center;

    &__card {
        border: 2px solid $color-one;
        width: 200px;
        height: 300px;
        padding: 0 .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
    }
}